# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables - QUAN TRỌNG: KHÔNG BAO GIỜ COMMIT FILE .env
.env
.env.local
.env.development
.env.production
.env.test
.env.
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Uploads
uploads/*
!uploads/contract/
!uploads/contract/**


# Coverage
coverage/
.nyc_output/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
*.tsbuildinfo

# Temporary files
tmp/
temp/
*.tmp
